
{% load static i18n %}
    {% load render_bundle from webpack_loader %}

  <!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
      BugBox database application
    {% endblock title %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
        content="Ecdysis bugbox" />
  <meta name="author"
        content="Mikayla Electra Wilson" />
  <link rel="icon" href="https://ecdysis-media.s3.amazonaws.com/site_content/favicon.png">
  {% block css %}
<!-- Your stuff: Third-party CSS libraries go here -->
<!-- This file stores project-specific CSS -->


{% render_bundle 'project' 'css' %}


{% endblock css %}
<!-- Le javascript
    ================================================== -->
{# Placed at the top of the document so pages load faster with defer #}
{% block javascript %}

<!-- Vendor dependencies bundled as one file -->
{% render_bundle 'vendors' 'js' attrs='defer' %}

<!-- place project specific Javascript in this file -->

{% render_bundle 'project' 'js' attrs='defer' %}


{% endblock javascript %}

{% block customheadtagcontent %}
<!--  for example, render a webpack bundle in a child .html page -->
<script src="{% static 'js/timezone-detection.js' %}" defer></script>
{% endblock customheadtagcontent %}

</head>
<body data-user-timezone="{{ request.user_timezone|default:'UTC' }}">
  <div class="mb-1">
<div class="custom-navbar{% if request.user.is_authenticated %}{% for group in request.user.groups.all %}{% if group.name == 'is_groweradmin' or group.name == 'is_grower' %} grower-portal-navbar{% endif %}{% endfor %}{% endif %}">
  <a href="{% url 'about' %}">
    <img src="https://ecdysis-media.s3.amazonaws.com/site_content/logo-light.png"
        alt="logo BB"
        style="height: 32px; vertical-align: middle;" />
  </a>

  <a href="{% url 'about' %}">About</a>
  <a href="{% url 'samples:collection' 1 %}">Collections</a>
  {% if not request.user.is_authenticated %}
  <a href="{% url 'samples:demo-experiments' %}">Demo</a>
  {% endif %}

  {% if request.user.is_authenticated %}
    {% if ON_ECDYSIS_SERVER %}
    <a href="{% url 'core:stitcher' %}">Shimsy Images</a>
    {% else %}
    {% for group in request.user.groups.all %}
      {% if group.name == 'is_research' %}
        <div class="dropdown-hover">
          <a href="#">Tools ▼</a>
          <div class="dropdown-menu">
            <a href="{% url 'samples:experiments' 0 %}">Experiments</a>
            <a href="{% url 'taxonomy:morphospecies' %}">Morphospecies</a>
            {% if perms.samples.review_specimen_page %}
              <a href="{% url 'samples:specimens-experiment-sample' 0 0 0 %}">Specimens</a>
            {% endif %}
          </div>
        </div>
      {% endif %}
      {% if group.name == 'is_admin' %}
        <div class="dropdown-hover">
          <a href="#">Admin ▼</a>
          <div class="dropdown-menu">
            <a href="{% url 'core:lookup-choices' 0 %}">Edit Choices</a>
            <a href="{% url 'core:org-members' 0 %}">Member List</a>
          </div>
        </div>
      {% endif %}
      {% if group.name == 'is_groweradmin' %}
        <a href="{% url 'grower_portal:admin_dashboard' %}">Admin Dashboard</a>
        <a href="{% url 'grower_portal:admin_grower_list' %}">Growers</a>
        <a href="{% url 'grower_portal:admin_application_list' %}">Applications</a>
        <a href="{% url 'grower_portal:admin_report_list' %}">Reports</a>
        <div class="dropdown-hover">
          <a href="#">More ▼</a>
          <div class="dropdown-menu">
            <a href="{% url 'grower_portal:admin_farm_list' %}">Farms</a>
            <a href="{% url 'grower_portal:admin_field_list' %}">Fields</a>
            <a href="{% url 'grower_portal:admin_transect_code_list' %}">Transect Codes</a>
            <a href="{% url 'grower_portal:admin_csv_upload' %}">Upload CSV</a>
            <a href="{% url 'grower_portal:admin_csv_import_list' %}">Import History</a>
          </div>
        </div>
      {% endif %}
      {% if group.name == 'is_grower' %}
        <a href="{% url 'grower_portal:dashboard' %}">Grower Dashboard</a>
      {% endif %}
    {% endfor %}
    {% endif %}
  {% endif %}

  {% if request.user.is_authenticated %}
    <a href="{% url 'users:detail' request.user.username %}">{% translate "My Profile" %}</a>
    {# URL provided by django-allauth/account/urls.py #}
    <a href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
  {% else %}
    {% if ACCOUNT_ALLOW_REGISTRATION %}
      <a href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
    {% endif %}
    {# URL provided by django-allauth/account/urls.py #}
    <a href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
  {% endif %}
</div>

  </div>
  <div class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="mt-3 alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
          {{ message }}
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
      <!-- Modal messageModal -->
        <div class="modal fade" id="messageModal" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" id="messageModal-body" value="contents">
                <p>empty</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    <!-- end Modal messageModal-->
    {% block content %}
      <p>base.html content area.</p>
    {% endblock content %}
    {% block footer %}
    <div class="container">
      <div class="row mb-4 mt-2">
        <div class="col">
          <div class="d-flex justify-content-center">
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><a href="https://www.ecdysis.bio/" target="_blank"><i class="bi bi-house-door"></i> Ecdysis Foundation</a></li>
            <li class="list-group-item"><a href="https://www.ecdysis.bio/contact-us"><i class="bi bi-envelope"></i> Contact Us</a></li>
            <li class="list-group-item"><a href="{% url 'core:read-eula' %}"><i class="bi bi-info-circle"></i> Terms of Use</a></li>
            <li class="list-group-item">©{% now "Y" %} Ecdysis Foundation</li>
          </ul>
          </div>
        </div>
      </div>
    </div>

    {% endblock footer %}
  </div>
  <!-- /container -->
  {% block modal %}
  {% endblock modal %}
  {% block inline_javascript %}
    {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
    </script>
    {% endcomment %}
  {% endblock inline_javascript %}
</body>
</html>
