.form-control-width-small {
    max-width: 4.75rem;  
}

.form-control-width-medium {
    max-width: 14rem;  
}

.form-control-width-medium-plus {
    max-width: 18rem;  
}

.form-control-width-large {
    max-width: 24rem;  
}
  
.fixed-width-button {
    width: 8rem; 
    max-width: 8rem  
}

.fixed-width-button-small {
    width: 4rem; 
    max-width: 4rem  
}
