{% extends "base.html" %}

{% load render_bundle from webpack_loader %}

{% block title %}
    Morphospecies
{% endblock title %}

{% block customheadtagcontent %}
{% render_bundle 'morphospecies' 'js' attrs='defer' %}
{{ json_context|safe }}
{% endblock customheadtagcontent %}

{% block content %}

{% if can_show_morphospecies_export %}
<!-- Export Modal -->
<div class="modal fade" id="exportModal" tabindex="-1" aria-labelledby="exportModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exportModalLabel">Export Data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <form id="exportForm" action="{% url 'taxonomy:morphospecies-csv' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="type" class="col-form-label"><strong>Export Name</strong></label>
                    <select class="form-control" id="name" name="name" required>
                        {% for e in exp_morph_choices %}
                            <option value="{{e.0}}">{{e.1}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" name="morpho" class="btn btn-primary mt-3">
                  <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                  Export Data
                </button>
              </form>

            </div>
        </div>
    </div>
  </div>
{% endif %}

<div class="container">

    <div class="row bg-ecdysis mt-3">
        <div class="col">
            <div class="align-items-center bg-ecdysis text-white d-flex justify-content-between">
                <h2 class="text-light mt-1">Morphospecies</h2>
                {% if can_add %}
                    <a href="{% url 'taxonomy:morphospecies-create' %}" class="btn btn-light btn-small" role="button">Add Morphospecies</a>
                {% endif %}
            </div>
        </div>
    </div>

      <div class="row bg-light rounded pt-2 pb-1 mb-1" id="searchToolbar">
        <div class="col-3">
          <div class="first-picker"></div>
        </div>
        <div class="col-3">
          <div class="tags-picker"></div>
        </div>
        <div class="col-3">
            <div class="form-check">
                <div class="first-check"></div>
                <label class="form-check-label" for="firstCheck">
                    {{ first_check}}
                  </label>
            </div>
          </div>
        <div class="col-3">
          <div class="taxonomy-review-filter"></div>
        </div>
      </div>

    <div class="row pb-2 mt-2">
        <div class="col">
            <table id="data-table" class="table table-responsive nowrap compact table-hover" width="100%">
            <thead>
                <tr>
                <th>{{ container_row_header|safe }}</th>
                </tr>
            </thead>
            </table>
        </div>
    </div>

    {% if can_show_morphospecies_export %}
    <div class="row">
        <div class="col-3">
            <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exportModal">Export Data</button>
        </div>
        <div class="col-4">
            {% if training_selections_download %}
            <a href="{{ training_selections_download }}">training selections download</a>
            {% endif %}
        </div>
    </div>
    {% endif %}

</div>

{% endblock content %}
