{% extends "base.html" %}

{% load render_bundle from webpack_loader %}

{% block title %}
    Morphospecies
{% endblock title %}

{% block customheadtagcontent %}
{% render_bundle 'simple_datatable' 'js' attrs='defer' %}
{{ json_context|safe }}
{% endblock customheadtagcontent %}

{% block content %}

<div class="container">

    <div class="row bg-ecdysis mt-3">
        <div class="col">
            <div class="align-items-center bg-ecdysis text-white d-flex justify-content-between">
                <h2 class="text-light mt-1">Morphospecies</h2>
                <a href="{% url 'taxonomy:morphospecies-create' %}" class="btn btn-light btn-small" role="button">Add Morphospecies</a>
            </div>
        </div>
    </div>

      <div class="row bg-light rounded pt-2 pb-1 mb-1" id="searchToolbar">
        <div class="col-3">
          <div class="first-picker"></div>
        </div>
      </div>

    <div class="row pb-2 mt-2">
        <div class="col">
            <table id="data-table" class="table table-responsive nowrap compact table-hover" width="100%">
            <thead>
                <tr>
                <th>{{ container_row_header|safe }}</th>
                </tr>
            </thead>
            </table>
        </div>
    </div>

</div>

{% endblock content %}
