{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}
    Morphospecies Detail
{% endblock title %}

{% block customheadtagcontent %}

{% render_bundle 'apexcharts_config' 'js' attrs='defer' %}
{% render_bundle 'morphospecies_combine' 'js' attrs='defer' %}
{{ json_context|safe }}

{% endblock customheadtagcontent %}

{% block content %}

<div class="modal fade" id="mSelectModal" tabindex="-1" aria-labelledby="mSelectModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5>Combine with morphospecies</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <div class="container">
                <div class="row bg-light rounded pt-2 pb-1 mb-1" id="searchToolbar">
                    <div class="col-3">
                      <div class="first-picker"></div>
                    </div>
                  </div>
                <div class="row pb-2 mt-2">
                    <div class="col">
                        <table id="data-table" class="table table-responsive nowrap compact table-hover" width="100%">
                        <thead>
                            <tr>
                            <th>{{ container_row_header|safe }}</th>
                            </tr>
                        </thead>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <form enctype="multipart/form-data" action="{{ form_action_url }}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="combine_to_id" id="combine_to_id">
                <div class="select-morpho-button"></div>
              </form>
        </div>

      </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-12 mb-3 mt-2 p-0">
            <div class="card">
                <div class="card-header align-items-center bg-ecdysis text-white d-flex justify-content-between">
                    <h2 class="text-light mt-1">{{ morphospecies.name }}</h2>
                    <a href="{% url 'taxonomy:morphospecies' %}" class="btn btn-light btn-small" role="button">Morphospecies</a>
                    {% if not morphospecies.defunt_date %}
                        {% if can_edit %}
                            <button type="button" class="btn btn-small btn-light" data-bs-toggle="modal" data-bs-target="#mSelectModal">Combine</button>
                        {% endif %}
                    {% endif %}
                    {% if can_edit %}
                        <a href="{% url 'taxonomy:morphospecies-update' morphospecies.id %}" class="btn btn-light btn-small" role="button">Edit</a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-start"><b>Canonical Name: </b>
                                    {% if morphospecies.gbif_rank == 'SPECIES' %}<i>{% endif %}{{ morphospecies.gbif_canonical_name }}{% if morphospecies.gbif_rank == 'SPECIES' %}</i>{% endif %}
                                    </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start"><b>Rank:</b> {{ morphospecies.gbif_rank }}</li>
                                <hr/>
                                <li class="list-group-item d-flex justify-content-between align-items-start"><b>Phylum:</b> {{ morphospecies.gbif_phylum }}</li>
                                <li class="list-group-item d-flex justify-content-between align-items-start"><b>Class:</b> {{ morphospecies.gbif_class }}</li>
                                <li class="list-group-item d-flex justify-content-between align-items-start"><b>Order:</b> {{ morphospecies.gbif_order }}</li>
                                <li class="list-group-item d-flex justify-content-between align-items-start"><b>Family:</b> {{ morphospecies.gbif_family }}</li>
                                <li class="list-group-item d-flex justify-content-between align-items-start"><b>Subfamily:</b> {{ morphospecies.subfamily }}</li>
                                <li class="list-group-item d-flex justify-content-between align-items-start"><b>Genus:</b> {{ morphospecies.gbif_genus }}</li>
                                <li class="list-group-item d-flex justify-content-between align-items-start"><b>Species:</b> <i>{{ morphospecies.gbif_species }}</i></li>
                                <hr/>
                                    <li class="list-group-item"><b>specimens</b></li>
                                <li class="list-group-item">
                                    reviewed: {{specimen_count.reviewed}} (images: {{image_count.reviewed}})
                                </li>
                                <li class="list-group-item">
                                    pending: {{specimen_count.pending}}  (images: {{image_count.pending}})
                                </li>
                                {% if ai_last_train %}
                                    <hr/>
                                    <li class="list-group-item"><b>AI Training</b></li>
                                    <li class="list-group-item">Yes ({{ ai_last_train }} photos)</li>
                                {% endif %}
                            </ul>
                        </div>

                        {% if morphospecies.defunt_date %}
                            <div class="col-8">
                            <h4>Defunct: merged with <a
                                href="{% url 'taxonomy:morphospecies-detail' morphospecies.defunt_morpho_id %}">{{morphospecies.defunt_morpho}}</a>
                            by
                            {{morphospecies.defunt_user}}
                            ({{morphospecies.defunt_date}})</h4>
                            </div>
                        {% endif %}

                        {% if image_set %}
                            <div class="col-8 align-items-start d-flex justify-content-end">
                                <ul class="list-group list-group-flush">
                                    {% for i in image_set %}
                                        <li class="list-group-item">
                                            <img src="{{i.path}}" width="{{ i.width }}" height="{{ i.height }}">
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col">
                            {% if morphospecies.note %}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex align-items-start"><b>Note: </b>{{ morphospecies.note }}</li>
                            </ul>
                            {% endif %}
                            <p class="card-text">
                                {% if img_thumbnail %}<a href="{{img.path}}" target="_blank">
                                    <img src="{{img_thumbnail.path}}" width="{{ img_thumbnail.width }}" height="{{ img_thumbnail.height }}">
                                    </a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            {% if ai_last_train %}
            <br/>
            <h5 class="ms-3">AI Accuracy Over Time</h5>
            <div class="card">
            {% endif %}
                <div id="ai_accuracy_over_time"></div>
            {% if ai_last_train %}
            </div>
            {% endif %}

        </div>
    </div>

{% endblock content %}
