{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load django_bootstrap5 %}
{% load render_bundle from webpack_loader %}

{% block title %}
    Morphospecies Update Form
{% endblock title %}

{% block customheadtagcontent %}
{% render_bundle 'gbif_api' 'js' attrs='defer' %}
{{ gbif_api|safe }}
{{ json_context|safe }}
{% endblock customheadtagcontent %}

{% block content %}
<div class="container">

    <div class="row bg-ecdysis mt-3 mb-4">
        <div class="col">
            <div class="align-items-center bg-ecdysis text-white d-flex justify-content-between">
                <h2 class="text-light mt-1">Morphospecies Name</h2>
                <a href="{% url 'taxonomy:morphospecies' %}" class="btn btn-light btn-small" role="button">Morphospecies List</a>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col">
            <form enctype="multipart/form-data" action="{{ form_action_url }}" method="POST">
            {% crispy form %}
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>
                Replace entries using the <a href="https://techdocs.gbif.org/en/openapi/">Global Biodiversity Information Facility</a>.
            </p>
        </div>
        <div class="col">
            <div class="select-gbif-button"></div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col">
            <input type="text" class="form-control" id="gbif-input" name="gbif-input">
        </div>
        <div class="col">
            <div class="search-button"></div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-4">
            <div class="list-group" id="gbif-list" role="tablist"></div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="gbif-nav-tabContent">
            </div>
        </div>
    </div>

</div>




{% endblock %}
