{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}
    Sample
{% endblock title %}

{% block customheadtagcontent %}

{% render_bundle 'sample_detail' 'js' attrs='defer' %}
{{ json_context|safe }}

{% endblock customheadtagcontent %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-12 mb-3 mt-2 p-0">
            <div class="card">
                <div class="card-header align-items-center bg-ecdysis text-white d-flex justify-content-between">
                    <div class="col-md-6">
                        <h5>{{ sample_info.site }} - {{ sample_info.visit_date }} - {{ sample_info.sample_type }} {{ sample_info.name_no }}</h5>
                    </div>
                    <div class="col">
                        <a href="{% url 'samples:experiment' sample_info.experiment_id %}" class="btn btn-light">
                            Experiment
                        </a>
                    </div>
                    <div class="col">
                        <a href="{% url 'samples:sample-update' sample_info.sample_id %}" class="btn btn-light">
                            Edit Sample
                        </a>
                    </div>
                    <div class="col">
                        <a href="{% url 'samples:sample-delete' sample_info.sample_id sample_info.experiment_id %}" class="btn btn-danger
                        {% if sample_info.has_data %} disabled{% endif %}">
                          Delete Sample
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <p class="card-text"><b>UUID:</b> {{ sample_info.uuid }}</p>
                            <p class="card-text"><b>Site:</b> {{ sample_info.site }}</p>
                            <p class="card-text"><b>Country:</b> {{ sample_info.country }}</p>
                            <p class="card-text"><b>State:</b> {{ sample_info.state }}</p>
                            <p class="card-text"><b>County:</b> {{ sample_info.county }}</p>
                            <p class="card-text"><b>Date:</b> {{ sample_info.visit_date }}</p>
                            <p class="card-text"><b>Type:</b> {{ sample_info.sample_type }}</p>
                            <p class="card-text"><b>Name/NO:</b> {{ sample_info.name_no }}</p>
                            <p class="card-text"><b>Entered By:</b> {{ sample_info.entered_by }}</p>
                            <p class="card-text"><b>Notes:</b> {{ sample_info.notes }}</p>
                            <p class="card-text"><b>Completed:</b> {{ sample_info.completed }}</p>
                        </div>
                        <div class="col-md-4">
                            <p class="card-text mt-5"><b>Sample Image:</b>
                                {% if sample_info.img_thumbnail %}

                                </br>
                                <img src="{{sample_info.img_thumbnail.path}}" width="{{ sample_info.img_thumbnail.width }}" height="{{ sample_info.img_thumbnail.height }}">
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3 mt-2 p-0">
            <div class="card">
                <div class="card-header align-items-center bg-ecdysis text-white d-flex justify-content-between">
                    <div class="col-2">
                        {% if review_permission %}
                        <a href="{% url 'samples:specimens-experiment-sample' id=sample_info.experiment_id sample_id=sample_info.sample_id %}" class="link-light">
                        {% endif %}
                            <h5>Specimens</h5>
                        {% if review_permission %}
                        </a>
                        {% endif %}
                        <a role="button" class="btn btn-secondary btn-sm {% if sample_info.completed %} disabled" aria-disabled="true"{% else %}"{% endif %}
                           href="{% url 'samples:specimen-create' sample_info.sample_id %}">
                           Add 1 specimen</a>
                    </div>
                    <div class="col-3">
                        <h5>&nbsp;</h5>
                        <a role="button" class="btn btn-dark btn-sm {% if sample_info.completed %} disabled" aria-disabled="true"{% else %}"{% endif %}
                        href="{% url 'samples:specimens-wo-img' sample_info.sample_id %}">
                      Add specimens without images</a>
                    </div>
                    <div class="col">
                        <form enctype="multipart/form-data" action="{{ form_action_url }}" method="POST">
                            {% csrf_token %}
                            <label for="id_image" class="form-label">
                                {% if sample_info.completed %}Sample completed, edit sample to enable{% else %}Add specimens with images{% endif %}
                            </label>
                                <input type="file" name="image" accept=".jpg, .png, .jpeg"
                                    class="form-control"
                                    multiple required id="id_image" {% if sample_info.completed %} disabled{% endif %}>
                    </div>
                    <div class="col">
                                <input type="submit" value="Submit" class="btn btn-light mt-4 ms-3" {% if sample_info.completed %} disabled{% endif %}>
                            </form>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <table id="specimens-table" class="table table-striped table-responsive nowrap compact" width="100%">
                                <thead>
                                    <tr>
                                    <th>{{ container_row_header|safe }}</th>
                                    </tr>
                                </thead>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
