{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load django_bootstrap5 %}
{% load render_bundle from webpack_loader %}

{% block title %}Site Form{% endblock %}

{% block customheadtagcontent %}

{% render_bundle 'jquery_tools' 'js' attrs='defer' %}
{{ json_context|safe }}

{% endblock customheadtagcontent %}

{% block content %}
<div class="container">
  <form action="{{ form_action_url }}" method="POST">
    <div class="row">
      <div class="col-12 mb-3 mt-2 p-0 bg-form">
        <div class="card">
          <div class="card-header align-items-center bg-ecdysis text-white d-flex justify-content-between">
            <h5>{{ action|capfirst }} Site for Experiment: {{ experiment_details.experiment.name }}</h5>
            <a href="{% url 'samples:experiment' experiment_details.experiment.id %}" class="btn btn-light">
              View Experiment
            </a>
            {% if action == 'update' %}
            <a href="{% url 'samples:site-delete' site_id experiment_details.experiment.id %}" type="button" class="btn btn-light
            {% if has_related_data %} disabled{% endif %}">
              Delete Site
            </a>
            {% endif %}
          </div>
          <div class="card-body">
          {% crispy form %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-3 mt-2 p-0 bg-form">
        <div class="card">
          <div class="card-header align-items-center bg-ecdysis text-white d-flex justify-content-between">
            <h4>Sample Dates, {{ experiment_details.experiment.date_per_site }} are planned</h4>
            <button type="button" id="displayFormsetRow" class="btn btn-light btn-small">Add Sample Date</button>
            </div>
            <div class="card-body">
              {% if experiment_details.plans %}
                <p class="card-text">Enter sample dates to create samples<br/>
                  <ul>
                  {% for plan in experiment_details.plans %}
                  <li>{{ plan.description }}</li>
                  {% endfor %}
                  </ul>
                </p>
              {% else %}
                This experiment has no plans
              {% endif %}
              {{ formsets.management_form }}
              {% for form in formsets %}
                {% crispy form %}
              {% endfor %}
            </div>
          </div>
        </div>
    </div>
    <div class="row mb-5 p-2 text-dark">
      <div class="form-actions col-12 bg-form mt-0 px-4 mx-auto">
          <input type="submit" name="submit" value="Save" class="btn btn-primary" id="submit-save">
      </div>
    </div>
  </form>
</div>

  {% endblock %}
