{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load django_bootstrap5 %}

{% load render_bundle from webpack_loader %}

{% block title %}
    Specimen Create
{% endblock title %}

{% block customheadtagcontent %}
{% render_bundle 'morphospecies_select' 'js' attrs='defer' %}
{{ json_context|safe }}
{% endblock customheadtagcontent %}

{% block content %}

<div class="modal fade" id="mSelectModal" tabindex="-1" aria-labelledby="mSelectModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5>Select new morphospecies</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <div class="container">
                <div class="row bg-light rounded pt-2 pb-1 mb-1" id="searchToolbar">
                    <div class="col-3">
                      <div class="first-picker"></div>
                    </div>
                  </div>
                <div class="row pb-2 mt-2">
                    <div class="col">
                        <table id="data-table" class="table table-responsive nowrap compact table-hover" width="100%">
                        <thead>
                            <tr>
                            <th>{{ container_row_header|safe }}</th>
                            </tr>
                        </thead>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <div class="select-morpho-button"></div>
        </div>

      </div>
    </div>
  </div>


<div class="container">

    <div class="row">
        <div class="col-12 mb-3 mt-2 p-0">
            <div class="card">
                <div class="card-header align-items-center bg-ecdysis text-white d-flex justify-content-between">
                    <div class="col-md-10">
                        <h5>Create specimen for <a href="{% url 'samples:experiment' sample.site_visit.site.experiment.id %}" class="link-light">
                            {{ sample.site_visit.site.experiment}}</a> -
                            Site: <a href="{% url 'samples:site-update' sample.site_visit.site.id %}" class="link-light">
                            {{ sample.site_visit.site.site_name }}</a> -
                            {{ sample.site_visit.visit_date }}
                            Sample: <a href="{% url 'samples:sample' sample.id %}" class="link-light">{{ sample.name_no }}</a>
                        </h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <form action="{{ form_action_url }}" method="POST">
                                {% crispy form %}
                            </form>
                            <p class="fw-light mt-3"><i>Images can be added after creating the record.</i></p>
                        </div>
                        <div class="col-3">
                            <label for="dis_classification" class="form-label">Verified classification</label>
                            <input type="text" id="dis_classification" class="form-control" name="dis_classification" value="{{ verified_classification }}" disabled><br/>
                                <button type="button" class="btn btn-small btn-info" data-bs-toggle="modal" data-bs-target="#mSelectModal">Select New</button>
                                <button type="button" class="btn btn-small btn-secondary" id="clear_classification">Clear Verified</button>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
