{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load django_bootstrap5 %}

{% load render_bundle from webpack_loader %}

{% block title %}
    Specimen Update
{% endblock title %}

{% block customheadtagcontent %}
{% render_bundle 'morphospecies_select' 'js' attrs='defer' %}
{{ json_context|safe }}
{% endblock customheadtagcontent %}

{% block content %}

<div class="modal fade" id="mSelectModal" tabindex="-1" aria-labelledby="mSelectModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5>Select new morphospecies</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <div class="container">
                <div class="row bg-light rounded pt-2 pb-1 mb-1" id="searchToolbar">
                    <div class="col-3">
                      <div class="first-picker"></div>
                    </div>
                  </div>
                <div class="row pb-2 mt-2">
                    <div class="col">
                        <table id="data-table" class="table table-responsive nowrap compact table-hover" width="100%">
                        <thead>
                            <tr>
                            <th>{{ container_row_header|safe }}</th>
                            </tr>
                        </thead>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <div class="select-morpho-button"></div>
        </div>

      </div>
    </div>
  </div>


<div class="container">

    <div class="row">
        <div class="col-12 mb-3 mt-2 p-0">
            <div class="card">
                <div class="card-header align-items-center bg-ecdysis text-white d-flex justify-content-between">
                    <div class="col-md-10">
                        <h5><a href="{% url 'samples:experiment' specimen.sample.site_visit.site.experiment.id %}" class="link-light">
                            {{ specimen.sample.site_visit.site.experiment}}</a> -
                            Site: <a href="{% url 'samples:site-update' specimen.sample.site_visit.site.id %}" class="link-light">
                            {{ specimen.sample.site_visit.site.site_name }}</a> -
                            {{ specimen.sample.site_visit.visit_date }}
                            Sample: <a href="{% url 'samples:sample' specimen.sample.id %}" class="link-light">{{ specimen.sample.name_no }}</a>
                        </h5>
                    </div>
                    <div class="col">
                        <a href="{% url 'samples:specimen' specimen.id %}" class="btn btn-light">
                            Specimen
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <form action="{{ form_action_url }}" method="POST">
                                {% crispy form %}
                            </form>
                        </div>
                        <div class="col-3">
                            <label for="dis_classification" class="form-label">Verified classification</label>
                            <input type="text" id="dis_classification" class="form-control" name="dis_classification" value="{{ verified_classification }}" disabled><br/>
                                <button type="button" class="btn btn-small btn-info" data-bs-toggle="modal" data-bs-target="#mSelectModal">Select New</button>
                                <button type="button" class="btn btn-small btn-secondary" id="clear_classification">Clear Verified</button>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for i in image_set_large %}
                        <div class="carousel-item{% if forloop.first %} active{% endif %}" data-bs-interval="1000000">
                            <img src="{{ i.path }}" class="d-block w-100" alt="insect">
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

              <hr/>
            {% for i in image_set_small %}
                <img src="{{i.path}}" width="{{ i.width }}" height="{{ i.height }}" class="mb-2">
            {% endfor %}

        </div>
        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Collector</li>
                <hr/>
                <li class="list-group-item">
                    <b>Name:</b> {{ selected_classification.name }}
                </li>
                <li class="list-group-item">
                    <b>Canonical Name:</b> {{ selected_classification.gbif_canonical_name }}
                </li>
                <li class="list-group-item"><b>Class:</b> {{ selected_classification.gbif_class }}</li>
                <li class="list-group-item"><b>Order:</b> {{ selected_classification.gbif_order }}</li>
                <li class="list-group-item"><b>Family:</b> {{ selected_classification.gbif_family }}</li>
                <li class="list-group-item"><b>Genus:</b> {{ selected_classification.gbif_genus }}</li>
                <li class="list-group-item"><b>Species:</b> {{ selected_classification.gbif_species }}</li>
                <li class="list-group-item"><b>Determined by:</b>
                    {% if specimen.acceptance == 0 and specimen.ai_classification %}
                    BugBox
                    {% elif specimen.user %}
                    {{ specimen.user }}
                    {% endif %}

                </li>
                <hr/>
                <li class="list-group-item">AI Predictions</li>
                <li class="list-group-item"><b>Primary prediction:</b>
                    {{ ai_classification.name }}
                </li>
                <li class="list-group-item">{{ probability|safe }}</li>
                <li class="list-group-item"><b>Secondary prediction:</b> {{ specimen.optional_pred_one.class_op }} </li>
                <li class="list-group-item"><b>Tertiary prediction:</b> {{ specimen.optional_pred_two.class_op }}</li>
                <hr/>
                <li class="list-group-item"><b>Entered by:</b> {{ specimen.created_by_user }}</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
