{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Create New Application{% endblock %}

{% block customheadtagcontent %}
{% render_bundle 'grower_application_create' 'js' %}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1>Create New Application</h1>
            <p class="text-muted">Enter your farm, field, and transect information to begin a new application.</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-body">
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

