{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load django_bootstrap5 %}

{% block title %}Lookup Choices Form{% endblock %}

{% block content %}
<div class="container">

    <div class="row mt-4">
      <div class="col-9">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Choice</h5>
            <h5 class="card-subtitle mb-2 text-body-secondary">{{ field }}</h5>
            <p class="card-text">
             The Entry is the text saved to the database. This is uneditable once created. The display text is what is displayed in drop down menus. This can be edited.
             We recomend the Entry does not contain spaces.
            </p>

            <form action="{{ form_action_url }}" method="POST">
              {% crispy form %}
            </form>
            <br/>
            {{ delete_button|safe }}

          </div>
        </div>


      </div>
    </div>
</div>

  {% endblock %}
