{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Stitcher Form{% endblock %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col">
            <a href="{{ img_src }}" target="_blank">
                <img src="{{ img_src }}" width="500">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
    </div>
</div>

            {{ guid }}

            {{ data }}
{% endblock content %}
