{% extends "base.html" %}

{% load humanize %}

{% block title %}
    Collection Download
{% endblock title %}


{% block content %}

<!-- Page Content -->
<div class="container">

    <div class="row bg-ecdysis mt-3">
        <div class="col">
            <div class="align-items-center bg-ecdysis text-white d-flex justify-content-between">
                <h2 class="text-light mt-1">Collection Download: {{ collection.org_name }}</h2>
                <a href="{% url 'samples:collection' org_id %}" class="btn btn-light">
                    Collection Browser
                </a>
            </div>
        </div>
    </div>

    <div class="row mt-2 p-4 justify-content-center">
        <div class="col-5">
            Here we provide a download of a selection of the {{ collection.org_name }} arthropod collection
            which includes the {{ collection.collection }} (<i>indicated by archival columns</i>).
            Images are provided as publically accessible links.
            Reviewed identifications, collection date, and generalized location information is provided.
            You can learn more about the {{ collection.org_name }} Collection and how specimens are collected and utilized at our
            <a href="{{ collection.homepage }}" target="_blank"><i class="bi bi-box-arrow-up-right"> homepage</i></a>.
        </div>
        <div class="col-4">
            <p><a href="{{ download_link }}" class="btn btn-warning">
                Download Data <i class="bi bi-download"> {{ file_size|filesizeformat }}</i>
            </a></p>
            {% if description %}
                <p>
                    The download includes {{ description.image_count|intcomma }} images representing
                    {{ description.specimen_count|intcomma }} specimens. Unique specimens can be determined using the column, 'specimen_id'.
                    This dataset includes {{ description.order_count|intcomma }} orders and
                    {{ description.family_count|intcomma }} arthropod families.
                </p>
            {% endif %}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            Ecdysis Foundation holds the copyright on this dataset and is making it available here through
            the Creative Commons Attribution Noncommercial license (CC BY-NC).
            For liscensing details, please see <a href="https://creativecommons.org/licenses/by-nc/4.0/">https://creativecommons.org/licenses/by-nc/4.0/</a>.
        </div>
    </div>

    {% if example %}
    <hr/>
    <div class="row ms-5">
        <div class="col">
            &nbsp;
        </div>
        <div class="col-6">
            <p>Browse the collection <a href="{% url 'samples:collection' org_id %}">here.</a></p>
            <h4>Example</h4>
        </div>
    </div>
        <div class="row mt-2 justify-content-center">
            <div class="col-4">
                {{ example.img_captioned|safe }}
            </div>
            <div class="col-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Order:</b> {{ example.details.specimen.classification.gbif_order }}</li>
                    <li class="list-group-item"><b>Family:</b> {{ example.details.specimen.classification.gbif_family }}</li>
                    <li class="list-group-item"><b>Species:</b> <i>{{ example.species }}</i></li>
                    <li class="list-group-item">{{example.details.specimen.sample.site_visit.visit_date}} | {{ example.location }}</li>
                </ul>
            </div>
        </div>
    {% endif %}

</div>

{% endblock content %}
