{% extends "base.html" %}

{% load render_bundle from webpack_loader %}

{% block title %}
    Collection
{% endblock title %}

{% block customheadtagcontent %}
{% render_bundle 'collections' 'js' attrs='defer' %}
{{ json_context|safe }}
{% endblock customheadtagcontent %}

{% block content %}

<!-- Modals -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content bg-transparent border border-0">
        <div class="modal-body">
          ...
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="mSelectModal" tabindex="-1" aria-labelledby="mSelectModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5>Select Family</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container">
                  <div class="row pb-2 mt-2">
                    <div class="col">
                        <table id="tax-table" class="table table-responsive nowrap compact" width="100%">
                        <thead>
                            <tr>
                            <th class="visually-hidden">ID</th>
                            <th>Family</th>
                            <th>Specimens</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in family_choices %}
                                <tr>
                                    <td class="visually-hidden">{{ i.0 }}</td>
                                    <td>{{ i.1 }}</td>
                                    <td>{{ i.2 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <div class="select-taxa-button"></div>
        </div>

      </div>
    </div>
</div>

<!-- Page Content -->
<div class="container">

    <div class="row bg-ecdysis mt-3">
        <div class="col">
            <div class="align-items-center bg-ecdysis text-white d-flex justify-content-between">
                <h2 class="text-light mt-1">Collections: {{ org_name }}</h2>
                <a href="{% url 'samples:collection-download' org_id %}" class="btn btn-light">
                    Download Data
                </a>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-9">
            <div class="archival-check"></div>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-small btn-success" data-bs-toggle="modal" data-bs-target="#mSelectModal">Filter by Family</button>
        </div>
    </div>

    <div class="row pb-2 mt-2">
        <div class="col">
            <table id="data-table" class="table table-responsive nowrap compact" width="100%">
            <thead>
                <tr>
                <th width="60%">Specimen</th>
                <th>Description</th>
                </tr>
            </thead>
            </table>
        </div>
    </div>


</div>

{% endblock content %}
